*{
    margin: 0;
    padding: 0;

    /* *************************HEADER CSS PROPERTY START********************* */
}
.container{
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    
}
.search{
    width: 500px;
    height: 25px;
}
a{
    color: white;
}
.di{
    color: white;
}
.left{
    justify-content: space-around;
}

/* ***************************HEADER CSS PROPERTY END************************** */